/* Default style */
.cardrow-description {
    visibility: hidden;
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
    .cardrow-description {
        visibility: visible;
    }
}

#card-table {
    display: table;
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #565769;
    margin-bottom: 5px;
    vertical-align: middle;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }