 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
 }

 body {
   display: flex;
   flex-direction: column;
   height: 100dvh;
   width: 100dvw;
 }

 .flex {
   display: flex;
 }

 .flex-col {
   flex-direction: column;
 }

 .w-44px {
   width: 44px;
 }

 .justify-between {
   justify-content: space-between;
 }

 .p-4 {
   padding: 1rem;
 }

 .my-4 {
   margin-top: 1rem;
   margin-bottom: 1rem;
 }

 .px-4 {
   padding: 0 1rem;
 }

 .py-2 {
   padding: 0.5rem 0;
 }

 .mx-4 {
   margin: 0 1rem;
 }

 .h-150px {
   height: 150px;
 }

 .align-center {
   align-self: center;
 }

 .justify-center {
   justify-content: center;
 }

 .gap-4 {
   gap: 1rem;
 }

 .gap-12 {
   gap: 3rem;
 }

 .min-height {
   min-height: min-content;
 }

 .min-with-200px {
   min-width: 200px;
 }

 .max-width-250px {
   max-width: 200px;
 }


 .max-width-250px {
  max-width: 250px;
}


 .max-width-90pc {
   max-width: 90%;
 }

.w-200px{
  width: 200px;
}

 .m-auto {
   margin: auto;
 }

 .green-700 {
   color: #7EDB64;
 }


 .yellow-200 {
  color: yellow;
 }

.yellow-700 {
color: yellowgreen
}
.bg-yellow-700 {
  color: yellowgreen;
  background: yellowgreen;
  }

 .decoration-none {
   text-decoration: none;
 }

 .cursor-pointer {
   cursor: pointer;
 }

 .none {
   display: none;
 }

 .mostrar {
   display: block;
 }

 .sticky {
   position: sticky;
   top: 0;
 }

 .z-index-999 {
   z-index: 999;
 }

 .z-index-100 {
   z-index: 100;
 }

 .h-20dvh {
   height: 20dvh;
 }

 .h-40dvh {
   height: 40dvh;
 }

 .h-50dvh {
   height: 50dvh;
 }

 .h-25dvh {
   height: 25dvh;
 }

 .h-full {
   height: 100%;
 }

 .cover-fit {
   object-fit: cover;
 }

 .w-full {
   width: 100%;
 }

 .w-fit {
   width: fit-content;
 }

 .border {
   border: 1px solid transparent
 }

 .bg-green-700 {
   background: #7EDB64;
 }

.texto-black {
  color: black;
}

 .border-green-700 {
   border: 1px solid #7EDB64
 }

 .text-white {
   color: white;
 }

 .texto-

 .align-start {
   align-self: self-start;
 }

 .relative {
   position: relative;
   top: -250px;
 }
 .fixed {
   position: fixed;
 }

 .top-0 {
   top: 0;
 }

 .bottom-0 {
   bottom: 0;
 }

 .left-0 {
   left: 0;
 }

 .right-0 {
   right: 0;
 }

 .self-align-center {
   justify-self: center;
 }

 .rounded-lg {
   border-radius: 25px;
 }

 .text-xl {
   font-size: 1rem;
 }

 .w-10pc {
   width: 10%;
 }

 .h-10pc {
   height: 10%;
 }

 .text-3xl {
   font-size: 2rem;
 }

 .text-4xl {
   font-size: 2.5rem;
 }

.decoration-none{
  text-decoration: none;
}

 .flex-wrap {
   flex-wrap: wrap;
 }

 @media only screen and (min-width: 600px) {
   .mostrar {
     display: none;
   }
 }